.store-products{
    padding-top: 153px;
}
/** Filter Section Start  */
.filter-card{
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: rgba(19, 73, 250, 0.3) 0px 0px 5px
}
.filter-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--maincolor);
}
.categories-list{
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    color: #4D4D4D;
    font-weight: bold;
}
.categories-list .category-item{
    cursor: pointer;
}
/** Filter Section End  */

/** Product List Section Start  */
.product-list img{
    width: 130px;
    height: 130px;
}
/** Product List Section ENd  */