/* *Compare Section start  */
.compare-products{
    padding-top: 153px;
}
.compare-card{
    padding: 20px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(34, 46, 212, 0.3) 0px 0px 5px;
    margin-bottom: 20px;
}
.close{
    top: 0;
    right: 7px;
    font-size: 25px;
    cursor: pointer;
    color: var(--maincolor);
}
.compare-product-details .title{
    color: var(--maincolor);
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}
.compare-product-details .brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(100, 148, 237, 0.486) ;
}
.compare-product-details .brand p{
    color: var(--maincolor);
}
/** Compare Section end  */